@page "/"
@inject IJSRuntime JS

<div id="container">
    <div id="output-div">
        <pre id="output-box">@output</pre>
    </div>
    <div id="input-div">
        <input id="input-box" type="text" autocomplete="off" spellcheck="false" @bind="input" @bind:event="oninput" @onkeydown="OnKeyDown"/>	
    </div>
</div>

@using Algiers
@using Algiers.StartKit
@code {
    private string input;
    private string output = "Press Enter to Start.";
    private bool started = false;
    private World world = new Game().SetWorld();
    private WebKit kit = new WebKit();

    private void OnKeyDown(KeyboardEventArgs args)
    {
        if (args.Code == "Enter")
        {
            if (!started)
            {
                started = true;
                output = "";
            }
            output += kit.Loop(input, world);
            input = "";
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("focusInput");
        }
        else
        {
            await JS.InvokeVoidAsync("scrollTerminal");
        }
    }
}